//tailwind
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Forms
@import "form";

// Buttons
@import "buttons";

// Tabel List dan Input data Ibu dan Bayi
@import "tables";

// Modal
@import "modal";

// navbar
@import "navbar";

* {
    font-family: Nunito;
}

.mobile-blocker {
    @apply absolute top-0 left-0 w-screen h-screen z-50 bg-gray-700 px-10 text-white text-2xl grid place-items-center;
}

.pc-blocker {
    @apply absolute top-0 left-0 w-screen h-screen z-50 bg-gray-700 px-10 text-white text-2xl grid place-items-center;
}

// carousel beranda
.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#carousel-1:checked
    ~ .control-1
    ~ .carousel-indicators
    li:nth-child(1)
    .carousel-bullet,
#carousel-2:checked
    ~ .control-2
    ~ .carousel-indicators
    li:nth-child(2)
    .carousel-bullet,
#carousel-3:checked
    ~ .control-3
    ~ .carousel-indicators
    li:nth-child(3)
    .carousel-bullet {
    color: #000;
    /*Set to match the Tailwind colour you want the active one to be */
}

// halaman admin panel
.card-adminPanel {
    @apply w-1/2 flex justify-center;

    .button-admin {
        @apply py-10 max-w-lg w-1/4 mx-3 text-white text-center rounded-lg text-xl;
    }
}

// Halaman login
.card-login {
    @apply bg-gray-100 py-4 px-6 rounded-lg;

    .btn-login {
        @apply w-full rounded-md bg-blue-500 py-3;
    }
}

// Global
.center {
    display: grid;
    place-items: center;
}

.title {
    @apply text-center text-4xl py-4 font-semibold;
}

.overlay-gray {
    @apply bg-gray-600 h-full w-full overflow-hidden opacity-50;
}

// halaman post
.headline-container {
    @apply mt-12 grid grid-cols-7 gap-1 h-auto w-full border border-gray-100;
}

.posts-container {
    @apply flex items-end overflow-hidden;
}

.posts-bg {
    @apply h-full w-full overflow-hidden duration-500 transform;
    &:hover {
        @apply scale-110;
    }
}

.posts-info {
    @apply mb-12 ml-12 absolute;
}

.posts-info-secondary {
    @apply mb-8 ml-8 absolute;
}

// card
.posts-card-link {
    @apply mt-8;
    min-width: 800px;

    @media (max-width: 640px) {
        min-width: 300px;
    }
}

.posts-card-container {
    @apply bg-white h-56 grid grid-flow-col grid-cols-5 gap-2 rounded-md shadow-md overflow-hidden transform duration-300;
    &:hover {
        @apply scale-105 shadow-lg;
    }
    @media (max-width: 640px) {
        @apply h-40;
    }
}

.posts-card-img {
    @apply col-span-2;
    @media (max-width: 640px) {
        @apply col-span-5;
    }
}

.posts-card-info {
    @apply h-full w-full col-span-3 flex flex-col;
    @media (max-width: 640px) {
        @apply col-span-1 absolute;
    }

    .title {
        @apply ml-4 mt-2 text-xl text-black;
        @media (max-width: 640px) {
            @apply absolute left-0 bottom-0 ml-4 mb-10 text-lg text-white;
        }
    }

    .tanggal {
        @apply mt-6 ml-4 text-gray-700 text-base;
        @media (max-width: 640px) {
            @apply absolute left-0 bottom-0 ml-4 mb-8 text-white;
        }
    }

    .detail {
        @apply h-24 ml-4 text-sm text-gray-700 overflow-hidden mr-12;
        @media (max-width: 640px) {
            @apply hidden;
        }
    }
}
