//tailwind
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");


// Variables
@import "variables";

// Forms
@import "form";

// Buttons
@import "buttons";

// Tabel List dan Input data Ibu dan Bayi
@import "tables";

// Modal
@import "modal";

// navbar
@import "navbar";


* {
    font-family: Nunito;
}

.mobile-blocker{
    @apply fixed top-0 left-0 w-screen h-screen z-50 bg-gray-700 px-10 text-white text-2xl grid place-items-center;
}

// halaman admin panel
.card-adminPanel {
    @apply w-1/2 flex justify-center;

    .button-admin {
        @apply py-10 max-w-lg w-1/4 mx-3 text-white text-center rounded-lg text-xl;
    }
}

// Halaman login
.card-login {
    @apply bg-gray-100 w-1/3 py-4 px-6 rounded-lg;

    .btn-login {
        @apply w-full rounded-md bg-blue-500 py-3;
    }
}


// Global
.center {
    display: grid;
    place-items: center;
}

.title {
    @apply text-center text-4xl py-4 font-semibold ;
}


